body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    text-align: center;
    }
    header {
    background-color: rgb(23, 8, 74);
    color: white;
    padding: 10px;
    }
    p {
    font-size: 18px;
    color: #555;
    }
    button {
    background-color: #17075a;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    }
    button:hover {
    background-color: #1013b0;
    }